{% extends 'layout.html' %}
{% block title %}综艺 - 比格电影{% endblock %}
{% block description %}综艺资料、剧情简介、综艺下载、图片、预告片、论坛{% endblock %}
{% block keywords %}综艺,剧情,图片,预告片,综艺下载{% endblock %}
{% block meta_own %}{% endblock %}
    
{% block css_own %}
<link rel='stylesheet' href='/static/css/movie/movie_base.css'>
<link rel='stylesheet' href='/static/css/movie/movie_index.css'>
<!-- <link rel='stylesheet' href='/static/css/plugs/HoverEffect/style.css'> -->
<script type="text/javascript" src='/static/js/plugs/HoverEffect/modernizr.custom.97074.js'></script>
<noscript><link rel="stylesheet" href="/static/css/plugs/HoverEffect/noJS.css"></noscript>
    <!--[if IE]>
  		<script src="/static/js/html5.js"></script>
	<![endif]-->
{% endblock %}

{% block main_content %}

  <div class="container">
    <div class="row">
      <section>
        <div class="col-lg-12 col-md-12 breadcrumb hidden-sm hidden-xs">
          <a class="btn btn-info btn-arrow-right" href="/">主页</a>
          <a class="btn btn-primary btn-arrow-right" href="/show/">综艺</a>
        </div>
      </section>
    </div>
  
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-9">
        <section>
          <div class="msg-wrap mb-20" id="filter-wrap">
            <ul class="list-inline" id="filter-switch">
              <li>筛选结果：&nbsp;{{counts}}&nbsp;部综艺</li>
              {% block switch %}
              <li class="display-thumb" id="t1"><a class="fui-list-small-thumbnails active" title="图片模式"></a></li>
              <li class="display-thumb" id="t2"><a class="fui-list-thumbnailed" title="图文模式"></a></li>
              <li class="display-thumb" id="t3"><a class="fui-list-columned" title="列表模式"></a></li>
              {% endblock %}
            </ul>
            <ul class="list-inline" id='focus-bar'>
		      <li><a href='javascript:;' id='af'>综合排序</a></li>
              <li><a href='javascript:;' id='guonei'>国内播出</a></li>
              <li><a href='javascript:;' id='guowai'>国外播出</a></li>
              <li><a href='javascript:;' id='gaofen'>豆瓣高分</a></li>
              <li><a href='javascript:;' id='gengxin'>最近更新</a></li>
              <!-- <a href='javascript:;' id='not_released'>尚未上映</a></li> --><li>
              <li><a id="more-filters" role="button">更多筛选&nbsp;<i class="fa fa-chevron-down"></i></a></li>
    	    </ul>
  		    <ul class="list-inline hide" id='region-bar'>
              <li><a href='javascript:;' id='ar'>全部地区</a></li>
              <li><a href='javascript:;' id='mainland'>大陆</a></li>
	          <li><a href='javascript:;' id='hongkong'>香港</a></li>
              <li><a href='javascript:;' id='america'>美国</a></li>
              <li><a href='javascript:;' id='uk'>英国</a></li>
              <li><a href='javascript:;' id='korea'>韩国</a></li>
              <li><a href='javascript:;' id='japan'>日本</a></li>  
              <li><a href='javascript:;' id='taiwan'>台湾</a></li>
              <li><a href='javascript:;' id='otherregion'>其他</a></li>
		    </ul>
		    <ul class="list-inline hide" id='type-bar'>
              <li><a href='javascript:;' id='at'>全部类型</a></li>
              <li><a href='javascript:;' id='juqing'>剧情</a></li>
              <li><a href='javascript:;' id='xiju'>喜剧</a></li>
              <li><a href='javascript:;' id='aiqing'>爱情</a></li>
              <li><a href='javascript:;' id='maoxian'>冒险</a></li>
              <li><a href='javascript:;' id='kongbu'>恐怖</a></li>
              <li><a href='javascript:;' id='tuokouxiu'>脱口秀</a></li>
              <li><a href='javascript:;' id='zhenrenxiu'>真人秀</a></li>
              <li><a href='javascript:;' id='jilupian'>纪录片</a></li>
              <li><a href='javascript:;' id='yinyue'>音乐</a></li>
              <li><a href='javascript:;' id='gewu'>歌舞</a></li>
              <li><a href='javascript:;' id='xiqu'>戏曲</a></li>
              <li><a href='javascript:;' id='lishi'>历史</a></li>
              <li><a href='javascript:;' id='zhanzheng'>战争</a></li>
              <li><a href='javascript:;' id='yundong'>运动</a></li>
              <li><a href='javascript:;' id='ertong'>儿童</a></li>
              <li><a href='javascript:;' id='jiating'>家庭</a></li>
              
     	    </ul>
     	  </div>
     	</section>

		<section>
        <div class='movie-container'>
			{% if show %}
			  {% block main_part %}
			  <div class="list-group-item">
			    <ul class="list-inline da-thumbs" id="da-thumbs">
                {% for item in show %}
                  <li class="col-xs-3 col-sm-3 col-md-24">
                    {% if item.popular %}<img class="hot-ribbon img-repsonsive" src="/static/images/tile/ribbon.png">{% endif %}
                    <a href="/show/{{item.id}}/">
                      {% if not item.updated_eps == 0 %}
                      <span class="item-info">
				      {% if item.updated_eps >= item.eps %}完结{% else %}更新至{{item.updated_eps}}{% endif %}
				      </span>
                      {% endif %}
                      <img src="{{item.poster}}" alt="{{item.ch_name}}海报">
                      <div><span>
                        {{item.types}}<br>{{item.region}}<hr>
                        {% if item.intro|length > 50 %}
                          {{item.intro|slice:"50"|safe}}……
                        {% else %}
                          {{item.intro}}
                        {% endif %}
                       </span></div>
                    </a>
                    
                    <span><h4><a href="/show/{{item.id}}/"> 
                      {% if item.ch_name|length > 18 %} {{item.ch_name|slice:"18"|safe}}……
                      {% else %} {{item.ch_name}} {% endif %}</a></h4>
                      
                    {% ifnotequal item.score 0 %}
					&nbsp;&nbsp;<span class="douban-color">{{item.score}}</span>
					{% endifnotequal %}</span>
					
                  </li> 
                {% endfor %}
                <div class="clearfix"></div>
                </ul>
              </div>
              {% endblock %}
			{% else %}
			  <div class="list-group-item p-20 text-center">
			    <div class="ccs-tip ccs-tip-sorry"></div>
			    <div class="ccs-desc">此次筛选无结果</div>
			  </div>
            {% endif %}

			{% if show %}
			<div class="text-center"><ul class="pagination">{{ page_list }}</ul></div>
			<div>
				共&nbsp;{{ pages }}&nbsp;页，每页显示：
				<select id='s1' class='selectpicker'>
					<option value='10'>10</option>
					<option value='20'>20</option>
					<option value='30'>30</option>
					<option value='50'>50</option>
				</select>
			</div>
			{% endif %}
		</div> <!-- movie-container -->
	    </section>
			

	  </div> <!-- col-left -->
    


  <div class="col-md-3 hidden-xs hidden-sm" id="right-part">
    <aside>
	      <div class="panel-group info-block" id="accordion1" role="tablist" aria-multiselectable="true">
	        <div class="top10"><h2>本周电影 TOP10</h2></div>
	        <div class="panel">
	          <div class="panel-heading" role="tab" id="heading0">
	            <div class="panel-title">
	              <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
		            {{billboard1.ch_name}} <span class="douban-color">{{billboard1.score}}</span>
	              </a>
	            </div>
		      </div> <!-- panel-heading -->
	          <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
	            <div class="panel-body media">
	              <!-- <div class='row'> -->
		            <div class="media-left"><a href="/show/{{billboard1.id}}/"><img src="{{billboard1.poster}}"></a></div>
		            <div class="media-body">
		              <h4 class="media-heading"><a href="/show/{{billboard1.id}}/">{{billboard1.ch_name}}</a></h4>
		              <p>{{billboard1.types}}</p>
		              <p>{{billboard1.region}}</p>
		              <p>{{billboard1.release_date}}</p>
		              <p><span class="douban-color">{{billboard1.score}}</span></p>
		              <p>{% ifnotequal item.video '无视频' %}
					    {% ifequal item.video_type '预告片' %}
					      <span class="label label-default">预告</span>
					      {% else %}
					      <span class="label label-primary">在线</span>
					      {% endifequal %}
					      {% ifnotequal item.down_url '无下载' %}
					      <span class="label label-info" style="left:40px;">下载</span>
					      {% endifnotequal %}
					    {% else %}
					      {% ifequal item.video_type '预告片' %}
					      <span class="label label-default">预告</span>
					      {% else %}
					      <span class="label label-primary">在线</span>
					      {% endifequal %}
					      {% ifnotequal item.down_url '无下载' %}
					      <span class="label label-info">下载</span>
					      {% endifnotequal %}
					    {% endifnotequal %}
	                  </p>
		            </div>
	              <!-- </div> -->
	            </div>
	          </div>
	        </div>
	        {% for item in billboard2 %}
	        <div class="panel">
	          <div class="panel-heading" role="tab" id="heading{{forloop.counter}}">
	            <div class="panel-title">
	              <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse{{forloop.counter}}" aria-expanded="false" aria-controls="collapse{{forloop.counter}}">
		            {{ item.ch_name }} <span class="douban-color">{{item.score}}</span>
	              </a>
	            </div>
		      </div> <!-- panel-heading -->
	          <div id="collapse{{forloop.counter}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
	            <div class="panel-body media">
		            <div class="media-left"><a href="/show/{{item.id}}/"><img src="{{item.poster}}"></a></div>
		            <div class="media-body">
		              <h4 class="media-heading"><a href="/show/{{item.id}}/">{{item.ch_name}}</a></h4>
		              <p>{{item.types}}</p>
		              <p>{{item.region}}</p>
		              <p>{{item.release_date}}</p>
		              <p><span class="douban-color">{{item.score}}</span></p>
		              <p>{% ifnotequal item.video '无视频' %}
					    {% ifequal item.video_type '预告片' %}
					      <span class="label label-default">预告</span>
					      {% else %}
					      <span class="label label-primary">在线</span>
					      {% endifequal %}
					      {% ifnotequal item.down_url '无下载' %}
					      <span class="label label-info" style="left:40px;">下载</span>
					      {% endifnotequal %}
					    {% else %}
					      {% ifequal item.video_type '预告片' %}
					      <span class="label label-default">预告</span>
					      {% else %}
					      <span class="label label-primary">在线</span>
					      {% endifequal %}
					      {% ifnotequal item.down_url '无下载' %}
					      <span class="label label-info">下载</span>
					      {% endifnotequal %}
					    {% endifnotequal %}
	                  </p>
		            </div>
	            </div>
	          </div>
	        </div>
	        {% endfor %}
	      </div> <!-- panel-group -->
	      
	      <div class="panel info-block">
	        <div class="panel-heading tags-cloud"><h2>标签云</h2></div>
	        <div class="panel-body">
	          <div id="tagscloud"></div>
	        </div>
	      </div>
	      
	    </aside>
  </div>
      
      
    </div> <!-- row -->
  </div> <!-- container -->
  
  

{% endblock %}

{% block js_own %}
<script type="text/javascript" src='/static/js/movie/movie_index.js'></script>
<script type="text/javascript" src='/static/js/movie/movie_base.js'></script>
<script type="text/javascript" src='/static/js/plugs/HoverEffect/jquery.hoverdir.js'></script>

{% endblock %}
