<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>404错误 找不到页面</title>
	<link rel="stylesheet" href="/static/css/others/404.css">
	<!--[if IE]>
		<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body>
	<nav class="shelf">
	  <a class="book home-page" href="/">返回主页</a>
	  <a class="book about-us" href="/about_us/">关于我们</a>
	  <a class="book contact" href="/nav/">站内导航</a>
	  <a class="book faq" href="/movie/">去看电影</a>
	  
	  <span class="book not-found"></span>
	 
	  <span class="door left"></span>
	  <span class="door right"></span>
	</nav>
	<h1>Error 404</h1>
	<p>糟糕，您要找的书籍不在书架中。。。</p>
	
</body>
</html>