{% extends 'layout.html' %}
{% block title %}500 服务器内部错误 - 比格电影{% endblock %}

{% block css_own %}
<!--<link rel='stylesheet' href='/static/css/others/500.css' />-->
{% endblock %}

{% block main_content %}

<div class="container">
    
  <div class="row">
    <div class="col-lg-12">
      <div class="media">
        <div class="media-left"><div class="ccs-tip ccs-tip-sorry"></div></div>
        <div class="media-body">
          <div style="font-size:20px;height:50px;line-height:50px;">服务器智商不够用了，管理员正在调教中……</div>
          <a href="/">返回主页</a>&nbsp;/&nbsp;<span>告诉我们:</span><a href="mailto:bigedianying@gmail.com">bigedianying@gmail.com</a>
        </div>
      </div>
    </div>
  </div>

    <!-- <a href="/" class="logo">
        <img style="height: 40px;width:40px;" title="" alt="比格LOGO" src="/static/images/common/bige_logo.png" />
    </a> -->

</div>
{% endblock %}
{% block footer %}{% endblock %}
{% block js %}
{% endblock %}

